@mixin shadow($dp) {
  box-shadow: -1px 0 #{$dp}px 0 var(--foreground-color);
}

#app {
  transition: color 200ms linear,
  background-color 200ms linear,
  background 200ms linear;
  color: var(--foreground-color);
  background-color: var(--background-color);
  -webkit-font-smoothing: subpixel-antialiased;
  text-rendering: optimizeLegibility;
}

html {
  overflow-y: auto
}